<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helha.tacotel">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FormConnexionActivity"></activity>
        <activity android:name=".FormInscriptionActivity"></activity>
        <activity android:name=".FormConnexionAdminActivity"></activity>
        <activity android:name=".MenuActivity"></activity>
        <activity android:name=".MagasinActivity"></activity>
        <activity android:name=".DetailsArticleActivity"></activity>
        <activity android:name=".PanierActivity"></activity>
        <activity android:name=".FormPaiementAdressesActivity"></activity>
        <activity android:name=".FormPaiementBanqueActivity"></activity>
        <activity android:name=".FormPaiementValidationActivity"></activity>
        <activity android:name=".AdminListArticlesActivity"></activity>
        <activity android:name=".FormAdminArticleActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>